<article class="col gh-article col-md-4 d-flex align-items-stretch">
    <div class="card overflow-hidden">
        <a class="gh-card-link" href="{{url}}">
            {{#if feature_image}}
                <img class="img-fluid"
                    src="{{img_url feature_image size}}"
                    alt="{{title}}"
                />
            {{else}}
                <img class="img-fluid"
                    src="https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png"
                    alt="default article image"
                />
            {{/if}}
            <div class="card-body">
                <div class="card-title">
                    <span class="gh-card-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
                    <h2 class="gh-card-title">{{title}}</h2>
                </div>
                <p class="card-text overflow-hidden">{{excerpt}}</p>
                <p><strong>Read more</strong></p>
            </div>
        </a>
    </div>
</article>